{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Admin Tables</title>

    <!-- Custom fonts for this template -->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
    <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link href="{% static 'vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->

        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->

            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">Admin dashboard</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item">
                <a class="nav-link" href="/">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Interface
            </div>
            <!-- Divider -->
            <hr class="sidebar-divider">
            </li>
           
            <!-- Nav Item - Tables -->
            <li class="nav-item">
                <a class="nav-link" href="/table" , target="_blank">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-table" viewBox="0 0 16 16">
                        <path
                            d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm15 2h-4v3h4zm0 4h-4v3h4zm0 4h-4v3h3a1 1 0 0 0 1-1zm-5 3v-3H6v3zm-5 0v-3H1v2a1 1 0 0 0 1 1zm-4-4h4V8H1zm0-4h4V4H1zm5-3v3h4V4zm4 4H6v3h4z" />
                    </svg>
                    <span>Tables</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/create_user">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-person-circle" viewBox="0 0 16 16">
                        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
                        <path fill-rule="evenodd"
                            d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1" />
                    </svg>
                    <span>create a new user</span></a>
            </li>


           

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">



        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <div class="col-md-6 text-right">

                </nav>
                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">
                                Please assign a user for the Complaints ID: {{ complaint.id }}
                            </h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <tbody>
                                        <!-- Loop through complaints -->
                                        
                                        <tr>
                                            <td><strong>ID:</strong> {{ complaint.id }}</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Title:</strong> {{ complaint.title }}</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Description:</strong> {{ complaint.description }}</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Department:</strong> {{ complaint.department }}</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Raised by:</strong> {{ complaint.raised_by }}</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Status:</strong> {{ complaint.status }}</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Raised Date:</strong> {{ complaint.raised_at }}</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Image:</strong> {{ complaint.image }}</td>
                                        </tr>
                                        </tbody>
                                        </table>

                                        <form method="post">
                                            {% csrf_token %}
                                            <div class="form-group">
                                                <label for="assigned_to">Assign to:</label>
                                                <table class="table table-bordered mt-3">
                                                    <thead>
                                                        <tr>
                                                            <th>Select</th>
                                                            <th>Name</th>
                                                            <th>Email</th>
                                                            <th>Phone Number</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for user in users %}
                                                        <tr>
                                                            <td>
                                                                <input type="radio" id="user_{{ user.id }}" name="assigned_to" value="{{ user.name }}">
                                                            </td>
                                                            <td>{{ user.name }}</td>
                                                            <td>{{ user.email }}</td>
                                                            <td>{{ user.phone_number }}</td>
                                                        </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                            <button type="submit" class="btn btn-primary">Assign</button>
                                        </form>


                                        
                                    
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Bootstrap core JavaScript-->
                <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
                <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

                <!-- Core plugin JavaScript-->
                <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

                <!-- Custom scripts for all pages-->
                <script src="{% static 'js/sb-admin-2.min.js' %}"></script>

                <!-- Page level plugins -->
                <script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>
                <script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>

                <!-- Page level custom scripts -->
                <script src="{% static 'js/demo/datatables-demo.js' %}"></script>


</body>

</html>